<!DOCTYPE html>
<html>
<head>  
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" >
  <link rel="stylesheet" href="stylesheets/profile.css" >
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <h1><img src="/img/icon128.png" id="logo"> 云笔记 <small>Beta版</small></h1>
      <p id="targetID"><%= targetID %></p>
  </nav>

  <div id="profile_wrap">
    <div id="profile_left" class="pull-left">
      <ul class="nav nav-pills nav-stacked">
      </ul>
    </div>
    <div id="profile_right" class="pull-left">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="profile">
        </div>

        <div class="tab-pane fade" id="notes">
        </div>

        <div class="tab-pane fade" id="concerns">
        </div>

        <div class="tab-pane fade" id="collects">
        </div>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="javascripts/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/profile.js"></script>
  <script type="text/javascript" src="javascripts/BS_API.js"></script>
</body>
</html>