<!DOCTYPE html>
<html>
<head>  
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" >
  <link rel="stylesheet" href="stylesheets/profile.css" >
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <h1>PDF Helper <small>Beta版</small></h1>
  </nav>
  <div id="profile_wrap">
    <div id="profile_left" class="pull-left">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#profile"  data-toggle="tab"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人资料</a></li>
        <li><a href="#notes"  data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span><span class="badge pull-right">42</span>&nbsp;&nbsp;我的笔记/问题</a></li>
        <li><a href="#concerns"  data-toggle="tab"><span class="glyphicon glyphicon-eye-open"></span><span class="badge pull-right">20</span>&nbsp;&nbsp;我的关注</a></li>
        <li><a href="#collects"  data-toggle="tab"><span class="glyphicon glyphicon-star"></span><span class="badge pull-right">20</span>&nbsp;&nbsp;我的收藏</a></li>
      </ul>
    </div>
    <div id="profile_right" class="pull-left">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="profile">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">个人资料</h3>
            </div>
            <div class="panel-body">
              <div id="headPhoto"> 
                <img src="/img/icon128.png" class="img-rounded" id="head_icon">
                <footer>
                  <a href="#" id="changeHead">换头像</a>
                </footer>
              </div>
              <div id="userProfile">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">学号/教工号:</label>
                    <div class="col-sm-7">
                      <p class="form-control-static" id="user_id">1000012728</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nickname" class="col-sm-3 control-label">昵称:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="nickname" value="乔子健">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">身份:</label>
                    <div class="col-sm-7">
                      <p class="form-control-static">学生</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cellphone" class="col-sm-3 control-label">手机号:</label>
                    <div class="col-sm-7">
                      <input type="tel" class="form-control" id="cellphone" value="15201318259">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">E-mail:</label>
                    <div class="col-sm-7">
                      <input type="email" class="form-control" id="email" value="urumqiman@gmail.com">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                      <button type="submit" class="btn btn-primary">提交修改</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="notes">
           <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">我的笔记/问题</h3>
            </div>
            <div class="panel-body">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        关于Android的两句话
                      </a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p><span class="noteInfo">课件：</span>基于xxx的xxx.pdf</p>
                      <p><span class="noteInfo">页码：</span>15</p>
                      <p><span class="noteInfo">摘要：</span>1.阿萨德发送到发生大...</p>     
                      <a href="#" class="enterToNote" target="_blank">点此进入 >>></a>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        关于Android的两句话
                      </a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p><span class="noteInfo">课件：</span>基于xxx的xxx.pdf</p>
                      <p><span class="noteInfo">页码：</span>15</p>
                      <p><span class="noteInfo">摘要：</span>1.阿萨德发送到发生大...</p>     
                      <a href="#" class="enterToNote" target="_blank">点此进入 >>></a>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        关于Android的两句话
                      </a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p><span class="noteInfo">课件：</span>基于xxx的xxx.pdf</p>
                      <p><span class="noteInfo">页码：</span>15</p>
                      <p><span class="noteInfo">摘要：</span>1.阿萨德发送到发生大...</p>     
                      <a href="#" class="enterToNote" target="_blank">点此进入 >>></a>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="concerns">
           <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">我的关注</h3>
            </div>
            <div class="panel-body">
              。。。
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="collects">
           <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">我的收藏</h3>
            </div>
            <div class="panel-body">
              。。。
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="javascripts/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/profile.js"></script>
  <script type="text/javascript" src="javascripts/BS_API.js"></script>
</body>
</html>